video {
    /* can't use display none or video won't load correctly */
    visibility: hidden;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #000;
    }

    input {
        color-scheme: dark;
    }
}